.worker-page {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #eeeeee;
}

.worker-page .header {
    overflow: auto;
}

.worker-page .image {
    float: left;
    width: 100px;
}

.worker-page .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
}




