i.triangle.down.icon {
    float: right;
}

.ui.accordion .active.title{
    padding-bottom: 0;
}

.ui.accordion:not(.styled) .title~.content:not(.ui){
    padding: 0 0 0 1em ;
}

.ui.vertical.text.menu .active.item {
    font-weight: 900;
}
