.interview-list-item {
    width: 30%;
}

.interview-list-item-extra {
    margin-bottom: 20px;
}

.interview-list-item-desc {
    text-align: left;
}

.interview-list-item-extra .location {
    float: left;
}

.interview-list-item-extra .date {
    float: right;
}