.candidate-info-list {
  width: 30%;
}
.info-tab {
  width: 100%;
  padding: 2em;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.info-tab.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.info-tab.column {
  display: flex;
  flex-direction: column;
}
