.candidate-info-list {
  width: 30%;
}
.content-tab {
  width: 100%;
  padding: 1em;
  background: #ffffff;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 1em;
}

.content-tab.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content-tab.column {
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}
