.ui.secondary.vertical.menu.filter {
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 20rem;
  padding: 1rem;
  display: flex;
  align-items: center;
}

.ui.styled.accordion{
  box-shadow: none;
}

.ui.accordion .title:not(.ui) {
  padding: 0.5em 1.3em;
}

i.triangle.down.icon {
  float: right;
}

.ui.vertical.text.menu {
  width: 100%;
}

.ui.vertical.menu .menu .item {
  padding: .5em 1.5em;
}

.ui.vertical.text.menu .active.item {
  font-weight: 900;
}

.ui.selection.dropdown{
  width:90%;
  margin:0.5em 0;
}
