.interview-detail-page {
  display: flex;
  flex-direction: column;
}

.interview-detail-page .interview-edit-add-content {
  display: flex;
  flex-direction: inherit;
  width: 80%;
  margin-left: 2%;
  margin-top: 2%;
}

/* content top styles*/

.interview-edit-add-content .content-top {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.content-top .name-label {
  margin: 0;
}

.content-top .position-label {
  margin: 0;
}

/* content description styles*/

.interview-detail-page .content-description {
  display: flex;
  flex-direction: column;
}

.interview-detail-page .content-description .status-label {
  margin-bottom: 5%;
  width: 20%;
}

/* list container styles */

.interview-detail-page .list-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  overflow: auto;
  flex-wrap: wrap;
}

.interview-detail-page .contacts {
  margin-bottom: 6%;
}

.list-container {
  margin: 3% 0 3% 0%;
}

.add-interview {
  display: flex;
  flex-direction: row-reverse;
  margin: 10px 30px 5px 30px;
}

.item-with-label {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  font-style: italic;
  margin: 5px;
}

.field-with-warning {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 100%;
}

.warning-block {
  width: 30%;
}

.text-area {
  margin-bottom: 10px;
}
