.ui.list > .item.flex-interview-list-item,
.ui.list > .item.flex-interview-list-item:first-child {
  padding: 1.5% 3% 0 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  height: 10rem;
}

.interview-list-item-header,
.interview-list-item-extra {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

h4.ui.header.name,
h4.ui.header.time {
  font-size: 1.2rem;
}

span.interview-list-item-description {
  font-size: 1.4rem;
}
span.location,
span.date {
  font-size: 1.1rem;
}
