.flex-vacancy-list-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.flex-vacancy-list-item .item {
    padding: 2%;
}

.vacancy-list-item-header, .vacancy-list-item-extra {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;
    font-size: medium;
}

.vacancy-list-item-header {
    margin-bottom: 2%;
}

.vacancy-list-item-description {
    margin-bottom: 1%;
}

.vacancy-list-item-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
}
