.candidate-detail-page {
    display: flex;
    flex-direction: column;
}

.candidate-detail-page .content {
    display: flex;
    flex-direction: inherit;
    width: 80%;
    margin-left: 2%;
    margin-top: 2%;
}

/* content top styles*/

.content .content-top {
    display: flex;
    flex-direction: column;
    text-align: left;
}

.content-top .name-label {
    margin: 0;
}

.content-top .position-label {
    margin: 0;
}

/* content description styles*/

.candidate-detail-page .content .content-description{
    display: flex;
    flex-direction: column;
}

.candidate-detail-page .content .content-description .label{
    margin-bottom: 5%;
    width: 20%;
}

/* list container styles */

.candidate-detail-page .content .content-description .list-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    overflow: auto;
    flex-wrap: wrap;
}

.candidate-detail-page .content .content-description .list-container .contacts{
    margin-bottom: 6%;
}
