.ui.pointing.secondary.menu-component.menu {
  margin: 0;
  font-size: 1.4em;
  border:none;
}
.ui.secondary.pointing.menu .active.item,
.ui.secondary.pointing.menu .active.item:hover {
  border-color: #008dd8;
  font-weight: 400;
}
