.header-component {
  height: 60px;
  position: relative;
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
}

.header-content {
  width: 95%;
  max-width: 1200px;
  height: inherit;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-content-left {
  height: inherit;
  width: 70%;
  display: flex;
  align-items: center;
}
.navbar-container{
  width: calc(100% - 110px);
  display: flex;
  justify-content: center;
}

.header-component .logo-container {
  margin-right: 2em;
}

.header-component .logo-container .logo {
  width: 90px;
}

.header-component #header-label {
  margin: 0;
}
