.header-component {
    z-index: 10;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fafafa;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    padding: 0 3%;
    height: 80px;
}

.header-component .image {
    float: left;
    height: 30px;
}

.header-component #header-label {
   margin: 0;
}