.feedback-technacal-card {
  background: rgba(201, 241, 253, 0.3);
  padding: 20px 20px 20px 20px;
}
.content-top {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  box-sizing: border-box;
}
.technology-label {
  font-size: 2.5em;
  margin: 0 0 20px 0;
}

.text-area {
  min-width: 100%;
  min-height: 100px;
  resize: none;
}

.select-grade {
  font-size: 1.5em;
  margin: 0 0 20px 0;
}
